.container {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.text {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 300px;
    padding-right: 300px;
    height: 200px;
    margin-bottom: 100px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                            supported by Chrome, Opera and Firefox */
}


.textMajor {
    font-size: 2.5rem;
    text-align: center;
}

.textMinor {
    font-size: 1.5rem !important; 
}

.smallestText {
    font-size: 0.9rem;
    padding: 5px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                            supported by Chrome, Opera and Firefox */
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 250px;
    padding-right: 250px;
}

.iconBox {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 250px;
    min-width: 200px;
    max-width: 500px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                            supported by Chrome, Opera and Firefox */
    margin-bottom: 25px;
}

.iconBox img {
    cursor: pointer;
}

.col12 {
    width: 100%;
}

@media (max-width: 1600px) {
    .text {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 1400px) {
    .text {
        padding-left: 50px;
        padding-right: 50px;
    }
}


@media (max-width: 1200px) {
    .text {
        height: 250px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 1100px) {
    .text {
        height: 330px;
    }
}

@media (max-width: 1050px) {
    .text {
        height: 15%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .textContainer {
        height: 450px;
    }
}

@media (max-width: 900px) {

    .iconContainer {
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }

    .text {
        height: 100px;
    }
}

@media (max-width: 650px) {

    .iconContainer {
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }

    .text {
        height: 150px;
    }
}

@media (max-width: 530px) {

    .iconContainer {
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }

    .text {
        height: 200px;
    }

    .textContainer {
        height: 500px;
    }
}

@media (max-width: 470px) {
    .iconContainer {
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }

    .text {
        height: 500px;
    }
}